# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.prod
*.production
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


stencil-flow-app/django_api/.env

# Django specific
django_api/*.log
django_api/__pycache__/
django_api/**/__pycache__/
django_api/api/__pycache__/
django_api/api/**/__pycache__/
django_api/stencil_flow_api/__pycache__/
django_api/tests/__pycache__/

terraform/*